header{
  display: flex;
  background-color: #6200EE;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 4rem;
}

h1, h2, h3{
  color: white;
}

main {
  background-color: white;
}

footer {
  display: flex;
  background-color: #6200EE;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 4rem;
}