.stats-container {
  display: flex;
  flex-flow: wrap;
  gap: 4rem;
  padding: 2rem;
  margin: 4rem 8rem;
  margin-top: 0rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.stats-text {
  color: #3700B3;
  font-size: 1.3rem;
}